<div class="backdrop"></div>

<div class="modal">
    <nav class="navbar">
        <h1>{{ title }}</h1>
    </nav>
    <p>power iping elit. Est, officiis.</p>
    <hr>
    <p>power Lorem ipsum dolor sit amet. ipsum dolor sit amet consectetur adipisicing elit. Est, officiis.</p>
    <p>power ipsum dolor sit, amet consectetur adipisicing elit. Omnis laborum est natus perspiciatis laboriosam ea
        inventore explicabo officiis neque maiores facilis quaerat possimus aperiam nisi eius iure eaque, voluptatum
        eveniet?</p>
    <button class="btn" (click)="close.emit()">Close</button>
</div>