<nav class="navbar">

  <a href="#"><strong>SRAM</strong></a>
  <h1>LATEST NEWS: <i>Welcome to STU Online</i></h1>

  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">News</a></li>
    <li routerLinkActive="active"><a routerLink="/about">Rewards</a></li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/"></a></li>
  </ul>
</nav>

<div class="container">
  <div class="card">

    <router-outlet></router-outlet>

  </div>
</div>



