<nav class="navbar">

  <a class="navbar__logo" href="#"><strong>SRAM</strong></a>
  <h1 class="navbar__title">LATEST NEWS: <i>Welcome to STU Online</i></h1>

  <ul class="navbar__menu">
    <li class="navbar__menu-item">
      <a class="navbar__menu-link" routerLink="/">News</a>
    </li>
    
    <li class="navbar__menu-item" >
      <a class="navbar__menu-link" routerLink="/">Rewards</a>
    </li>
   
    <li class="navbar__menu-auth">
      <a class="iconUser__link" routerLink="/">
        <i class="iconUser"></i>
      </a>
    </li>
  </ul>
</nav>

<div class="container">
  <i class=""></i>
  <div class="card">
    <app-home-page></app-home-page>
  </div>
</div>