.main {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: white;
  border: 2px solid rgb(201, 198, 198);
  margin: 0.2rem;
  border-radius: 4px;
  color: black;
}

.btn:focus,
.btn:hover {
  cursor: pointer;
  background-color: rgb(223, 219, 219);
  color: black;
}

//---- start main-menu--- //
.main-menu {
  display: flex;
  flex-direction: row;
}

.main-menu__list-buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
}

.main-menu__docs {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 0.5rem;
}

.main-menu__docs-logo {
  margin: 0 0.5rem;
}

.main-menu__list-items {
  display: flex;
  flex: 4;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 0.5rem;
}

.main-menu__list-items_item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  max-width: 13rem;
}

//---- end main-menu--- //

//----start media main-menu--- //
@media screen and (max-width: 747px) {
  .main-menu {
    display: flex;
    flex-direction: column;
  }

  .main-menu__docs {
    order: -1;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .main-menu__list-buttons {
    display: flex;
    flex-direction: row;
    margin: 0.4rem;
    padding: 0.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 580px) {
  .btn {
    min-width: 275px;
  }
  .main-menu__docs {
    flex-direction: column;
    padding: 0.4rem;
    border: 1px solid rgb(170, 170, 170);
  }
  .main-menu__list-buttons {
    flex-direction: column;
  }
  .main-menu__list-items {
    flex-direction: column;
    align-items: center;
  }

  .main-menu__list-items_item {
    min-width: 210px;
  }
}
//----end media main-menu--- //

//---- start imgBox--- //
.imgBox {
  margin-top: 3rem;
}
//---- end imgBox--- //

// --- start icons ---//
.iconTwo {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../../assets/sprite.svg');
  transform: scale(0.7);
  width: 31px;
  height: 32px;
  background-position: 0 0;
}
.iconThree {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../../assets/sprite.svg');
  transform: scale(0.7);
  width: 31px;
  height: 32px;
  background-position: -36px 0;
}
.iconOk {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../../assets/sprite.svg');
  transform: scale(0.7);
  width: 31px;
  height: 32px;
  color: grey;
  background-position: -72px 0;
}
.iconOne {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../../assets/sprite.svg');
  transform: scale(0.7);
  width: 31px;
  height: 32px;
  background-position: -108px 0;
}
.iconTwenty {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../../assets/sprite.svg');
  transform: scale(0.7);
  width: 29px;
  height: 32px;
  margin-bottom: 2px;
  background-position: -144px 0;
}
// ---end icons ---//